[submodule "alacritty/upstream"]
	path = alacritty/upstream
	url = https://github.com/alacritty/alacritty
[submodule "neovim/jetpack"]
	path = neovim/jetpack
	url = https://github.com/tani/vim-jetpack
