[submodule "alacritty/upstream"]
	path = alacritty/upstream
	url = https://github.com/alacritty/alacritty
[submodule "neovim/jetpack"]
	path = neovim/jetpack
	url = https://github.com/tani/vim-jetpack
[submodule "lsp/shell/explainshell"]
	path = lsp/shell/explainshell/upstream
	url = https://github.com/idank/explainshell.git
[submodule "shell/p10k"]
	path = shell/p10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "alacritty/config/dracula"]
	path = alacritty/config/dracula
	url = https://github.com/dracula/alacritty.git
[submodule "shell/lib/zsh-autocomplete"]
	path = shell/lib/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
